.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rebeccapurple;
  padding: 20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #ccc;
}
